@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.container-lg {
  font-family: "Roboto", sans-serif;
  width: 50%;
  min-width: 500px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: grey;
}