.link-menu {
  color: black;
}

.topbar-profile-photo img,
.story-profile-photo img,
.post-profile-photo img,
.side-profile-photo img,
.suggestion-profile-photo img {
  transform: scale(1);
  width: 100%;
  position: absolute;
  left: 0;
}

.topbar-profile-photo,
.story-profile-photo {
  width: 1.5em;
  height: 1.5em;
  position: relative;
}

.story-profile-photo {
  width: 56px;
  height: 56px;
  position: relative;
  border: 2px solid transparent !important;
  background: linear-gradient(rgb(165, 0, 165), yellow, purple);
}

.post-profile-photo {
  width: 42px;
  height: 42px;
  position: relative;
  border: 2px solid transparent !important;
  background: linear-gradient(rgb(165, 0, 165), yellow, purple);
}

.post-icon {
  width: 1.6em;
  height: 1.6em;
}

.comment-post {
  top: 0;
  bottom: 0;
  right: 0;
}

.side-profile-photo {
  width: 56px;
  height: 56px;
  position: relative;
}

.side-profile-name {
  font-size: 14px;
}

.suggestion-profile-photo {
  width: 46px;
  height: 46px;
  position: relative;
  border: 2px solid transparent !important;
  background: linear-gradient(rgb(165, 0, 165), yellow, purple);
}
