@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.container-lg,
.post-container {
  font-family: "Roboto", sans-serif;
}
/* profile header */
.profile-image {
  height: 140px;
  width: 140px;
  background-color: lightgrey;
  border-radius: 50%;
}

.profile-info {
  width: 350px;
}

.profile-bio {
  width: 440px;
}

.profile-head {
  gap: 20px;
}

/* snap */
.snap .snap-canvas {
  height: 79px;
  width: 79px;
  background: linear-gradient(-45deg, #4f77e6, #ebff39, #f78787);
  cursor: pointer;
  transition: 0.3s ease;
}

.snap .snap-canvas:hover {
  transform: scale(1.08);
}

.snap .snap-canvas:visited {
  background: linear-gradient(-45deg, grey, grey);
}

.snap-canvas label {
  top: 0.8em;
  cursor: inherit;
}

.snap .snap-thumbnail {
  height: 75px;
  width: 75px;
  background-color: lightgrey;
  border: 2px solid white;
}

/* content post */
.content li:hover img {
  cursor: pointer;
}

.post-container .row,
.post-container .row a {
  font-size: 0.9em;
}

.post-container .row .time-stamp {
  font-size: 0.65em;
}

.post-profile-photo img {
  transform: scale(1);
  width: 100%;
  position: absolute;
  left: 0;
}

.post-profile-photo {
  width: 42px;
  height: 42px;
  position: relative;
  border: 2px solid transparent !important;
  background: linear-gradient(rgb(165, 0, 165), yellow, purple);
}
.post-icon {
  width: 1.6em;
  height: 1.6em;
}

.comment-post {
  right: 20px;
}

/* snap view */
.snap-frame {
  height: 80vh;
  width: 45vh;
  background-color: red;
  opacity: 1;
  z-index: 3;
}

.snap-bg {
  z-index: 1;
}

/* layouting */
img {
  display: block;
  width: 100%;
}

.gallery {
  width: 80%;
  box-sizing: border-box;
  list-style: none;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 20px;
}
